# protection du fichier ht acess
<files .htaccess>
order allow,deny
deny from all
</files>

#emplacement de la page 404
ErrorDocument 404 /404.html

#protection de certains répertoires
Options -Indexes