/*
            Author : Steven
            Date : 06/04/26
*/
/* Définition des polices : Titre */
.montserrat {
  font-family: 'Montserrat';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Définition des polices : Texte */
.inter {
  font-family: 'Inter';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Définition des couleurs*/
:root {
  --color-primary: #F5CFCE;
  --color-primary-transp: #F5CFCE90;
  --color-secondary: #FFD390;
  --color-tertiary: #F57756;
  --color-accent : #E29EE6;
  --color-success: #16a34a;
  --color-warning: #2b261f;
  --color-danger: #dc2626;
  --text-color: #1B2429;
  --text-color-hover:#1a07ee;
  --bg-color: #ffffff;
  --font-family-text: 'Inter' , sans-serif;
  --font-family-title: 'Montserrat' , serif;
  --font-family-second: Tahoma , sans-serif;
}
/************************************************************************/
/************************************************************************/
/* Global */
/************************************************************************/
/************************************************************************/

/* typo */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
h2{
    font-family: var(--font-family-title);
    color: var(--text-color); 
    font-size: 1.5em ;
    font-weight: 700;
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* others */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* links */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* forms */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* tables */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* buttons */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/************************************************************************/
/************************************************************************/
/* Layout */
/************************************************************************/
/************************************************************************/

/* header */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* nav */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* main */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
article{
    margin: 10px;
    text-align: center;
}
article h2 {
    display: inline-block;
    background-color: var(--color-primary-transp);
}
article p {
    text-align: justify;
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* aside */ 
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* footer */
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/